.photo-grid {
  margin: 0 48px 92px 48px;
  padding: 0;
  max-width: 1184px;
  display: grid;
  grid-template-columns: repeat(4, 24%);
  grid-template-rows: repeat(3, 32%);
  gap: 15px 16px;
}
@media screen and (max-width: 1024px) {
  .photo-grid {
    max-width: 91vw;
    gap: 14px 18px;
    grid-template-columns: repeat(3, 32%);
    grid-template-rows: repeat(4, 24%);
    margin-bottom: 96px;
  }
}
@media screen and (max-width: 768px) {
  .photo-grid {
    max-width: 94vw;
    gap: 15px;
    grid-template-columns: repeat(2, 49%);
    grid-template-rows: repeat(6, auto);
    margin-bottom: 90px;
    margin-left: 24px;
    margin-right: 24px;
  }
}
@media screen and (max-width: 320px) {
  .photo-grid {
    gap: 12px;
    grid-template-columns: 100%;
    grid-template-rows: repeat(12, auto);
    margin-bottom: 64px;
    margin-left: 16px;
    margin-right: 16px;
  }
}
