.header__lang {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  gap: 18px;
  align-items: end;
  padding-bottom: 7px;
}
@media screen and (max-width: 320px) {
  .header__lang {
    padding-bottom: 7px;
  }
}
