.lead {
  margin: 0 auto;
  max-width: 984px;
  max-height: 1005px;
  margin-bottom: 92px;
  color: #fff;
}
@media screen and (max-width: 1024px) {
  .lead {
    max-width: 928px;
    max-height: 962px;
  }
}
@media screen and (max-width: 768px) {
  .lead {
    max-width: 100vw;
    max-height: 862px;
    margin-bottom: 88px;
  }
}
@media screen and (max-width: 320px) {
  .lead {
    max-width: 100vw;
    max-height: 406px;
    margin-bottom: 64px;
  }
}
