.footer__list-links {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  min-height: 100%;
  list-style-type: none;
  gap: 18px;
  align-items: start;
  flex-wrap: wrap;
}
@media screen and (max-width: 1024px) {
  .footer__list-links {
    gap: 19px;
  }
}
@media screen and (max-width: 320px) {
  .footer__list-links {
    gap: 31px;
    flex-direction: column;
  }
}
