.intro {
  display: flex;
  flex-direction: column;
  max-width: 690px;
  margin: 0 auto 92px 148px;
}
@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .intro {
    margin-left: 48px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .intro {
    margin: 0 auto;
    max-width: 94%;
    margin-bottom: 88px;
    padding-left: 2px;
  }
}
@media screen and (min-width: 270px) and (max-width: 767px) {
  .intro {
    max-width: 90%;
    margin-bottom: 64px;
    margin-left: auto;
  }
}
