.cover {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1184px;
  margin-bottom: 92px;
  position: relative;
  z-index: 0;
}
@media screen and (max-width: 1024px) {
  .cover {
    max-width: 100vw;
  }
}
@media screen and (min-width: 451px) and (max-width: 768px) {
  .cover {
    margin-bottom: 86px;
  }
}
@media screen and (min-width: 320px) and (max-width: 450px) {
  .cover {
    margin-bottom: 64px;
  }
}
