.place__link {
  max-width: 100%;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-decoration: none;
  border-bottom: 1px solid #fff;
  color: #ffffff;
  margin: 0;
  padding: 0;
  opacity: 1;
  transition: opacity 0.5s ease;
  word-break: break-all;
}
.place__link:hover {
  opacity: 0.8;
}
