.place {
  display: grid;
  grid-template-columns: 460px 484px;
  grid-template-rows: repeat(2, auto);
  gap: 48px 40px;
  max-width: 100%;
}
@media screen and (max-width: 1024px) {
  .place {
    gap: 48px 11px;
  }
}
@media screen and (max-width: 768px) {
  .place {
    gap: 46px 28px;
    grid-template-columns: repeat(2, auto);
  }
}
@media screen and (max-width: 320px) {
  .place {
    gap: 31px;
    grid-template-columns: repeat(1, auto);
    grid-template-rows: repeat(4, auto);
  }
}
