.place {
  display: grid;
  grid-template-columns: 47% 49%;
  grid-template-rows: repeat(2, auto);
  gap: 48px 38px;
  max-width: 100%;
}
@media screen and (max-width: 1024px) {
  .place {
    gap: 48px 36px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .place {
    gap: 43px 30px;
    grid-template-columns: 47% 50%;
  }
}
@media screen and (min-width: 270px) and (max-width: 767px) {
  .place {
    gap: 33px;
    grid-template-columns: repeat(1, 100%);
    grid-template-rows: repeat(4, auto);
  }
}
