.place__website {
  grid-column: 2/3;
  grid-row: 1/2;
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: fit-content;
  justify-content: end;
}

@media screen and (max-width: 320px) {
  .place__website {
    grid-column: 1/2;
    grid-row: 2/3;
    margin-left: 16px;
  }
}
@media screen and (max-width: 768px) {
  .place__website {
    padding-bottom: 2px;
  }
}
