.intro__title {
  margin: 0;
  margin-bottom: 40px;
  max-width: 100%;
  text-align: start;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  color: #fff;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
  word-break: break-all;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .intro__title {
    margin-bottom: 39px;
  }
}

@media screen and (min-width: 270px) and (max-width: 767px) {
  .intro__title {
    font-size: 32px;
    line-height: 35px;
    word-break: normal;
  }
}
