.intro__title {
  margin: 0;
  margin-bottom: 40px;
  max-width: 100%;
  text-align: start;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  color: #fff;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
}
@media screen and (max-width: 320px) {
  .intro__title {
    font-size: 32px;
    line-height: 35px;
  }
}
